<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mis familiares son:</h1>
    <br>
    {% for clave in familia %}
    
    <p>{{clave.nombre}} {{clave.apellido}} es mi {{clave.relacion}}</p>
    <p>Nacio el dia {{clave.nacimiento}}</p>
    <p>Su N° de celular es {{clave.telefono}}</p>
    
    {% endfor %}

</body>
</html>